$product-size: 1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Asap', sans-serif;
}
