$product-size: 1;
$main-text-color: rgb(58, 58, 58);
$accent-text-color: rgb(246, 189, 43);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Asap', sans-serif;
  color: $main-text-color;
}

.hidden {
  display: none;
}
