$clr-primary: rgb(244, 244, 244);
$clr-secondary: rgb(236, 236, 236);
$clr-black: rgb(10, 10, 10);
$clr-accent: rgb(255, 204, 74);
$clr-neutral-dark: rgb(32, 32, 32);
$clr-neutral-light: rgb(105, 105, 105);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: $clr-neutral-dark;
}

.hidden {
  display: none;
}
