$clr-primary: rgb(244, 244, 244);
$clr-secondary: rgb(225, 225, 225);
$clr-black: rgb(30, 32, 30); // rgb(30, 30, 30)
$clr-lightgrey: rgb(145, 145, 145);
$clr-accent: rgb(255, 204, 74); //rgb(255, 204, 74)
$clr-neutral-dark: rgb(32, 32, 32);
$clr-neutral-light: rgb(105, 105, 105);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: $clr-neutral-dark;
  background-color: $clr-primary;

  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hidden_slow {
  animation: hide 500ms ease-in-out forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    width: 100vw;
    height: 100vh;
  }

  .main {
    height: 100%;
    width: 100%;
  }
}
