.composers {
  display: flex;
}

.composer {
  &_list {
    padding: 1em;
  }

  &_name {
    color: $clr-neutral-light;
    text-decoration: none;
    padding: 1em;
    font-size: 2em;
  }

  &_image {
    width: 10em;
    height: 10em;
  }
}

.composer_page {
  margin: 1em 1em 1em 2em;

  &_bio {
    width: 50%;
    text-align: justify;
    margin-left: 1em;
  }

  &_image {
    margin: 1em;
  }

  &_website {
    &_link {
      font-weight: 500;
    }
  }

  &_works_title {
    margin: 2em;
  }

  &_imgbio_container {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .composer_page {
    margin: 1.5em;

    &_bio {
      width: 100%;
      margin: 0;
    }

    &_works_title {
      margin: 2em 0 0 0;
    }

    &_imgbio_container {
      display: block;
    }
  }
}
