.composers {
  display: flex;
}

.composer {
  &_list {
    padding: 1em;
  }

  &_name {
    color: $clr-neutral-light;
    text-decoration: none;
    padding: 1em;
    font-size: 2em;
  }

  &_image {
    width: 10em;
    height: 10em;
  }
}

.composer_page {
  margin: 1em 1em 1em 2em;
  &_bio {
    width: 50%;
  }

  &_website {
    &_link {
      font-weight: 500;
    }
  }

  &_works_title {
    margin: 2em;
  }
}
