.contact {
  &_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5em;

    padding: 2em;
  }

  &_phrase {
    font-size: 2em;
    width: 50%;
  }

  &_name {
    margin-top: 2em;
  }
}
