.index {
  &_container {
    padding: 2em;
  }

  &_title_link {
    color: $clr-accent;
  }

  &_welcome {
    padding: 1em 0 0 1em;
  }

  &_title_container {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &_socials {
    &_container {
      margin: 2em 0 1em 4em;
    }

    &_logo {
      width: 50px;
      aspect-ratio: 1;

      margin: 0.5em;
    }
  }
}

@media only screen and (max-width: 600px) {
  .index_title_container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1em;
  }

  .index_welcome {
    font-size: 1.75em;
  }

  .index_socials {
    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      margin: 2em 0 1em 0;
    }
  }
}
