.index {
  &_container {
    padding: 2em;
  }

  &_title_link {
    color: $clr-accent;
  }

  &_welcome {
    padding: 1em 0 0 1em;
  }

  &_title_container {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .index_title_container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1em;
  }
}
