.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 2em;

  background-color: $clr-black;

  &_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }

  &_hamburger_btn {
    display: none;
  }
}

.navbar_works {
  &_link {
    border: none;
    background: none;
  }

  &_options {
    position: absolute;
    left: 0;
    top: 5em;
    z-index: 99;

    height: 0;
    width: 100vw;
    background-color: $clr-black;
    color: white;

    transition: 500ms ease-in-out;

    display: grid;
    grid-template-columns: 0.93fr 1fr 1fr;

    &_list {
      list-style: none;
      // position: absolute;
      // left: 34.4em;
      line-height: 2em;
    }

    &_link {
      color: white;
      text-decoration: none;

      transition: 150ms ease-in-out;

      &:hover {
        color: $clr-accent;
      }
    }
  }
}

.link {
  text-decoration: none;
  font-size: 1.5em;
  color: white;

  transition: 150ms ease-in-out;

  &:hover {
    color: $clr-accent;
  }
}

.selected {
  color: $clr-accent;
}

.navbar_active {
  height: 10em;
}

.locales_list {
  list-style: none;
  display: flex;
  position: absolute;
  right: 3%;
}

#nav_locales_select {
  transform: scale(1.5);
  // border: 1px solid $accent-text-color;
  border: none;
  border-radius: 2em;
  padding: 0.2em 1em;
  margin-right: 2em;

  background-color: $clr-secondary;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    height: 2em;

    z-index: 99;

    transition: 1s ease-in-out;

    &_hamburger {
      display: block;
      position: absolute;
      top: 0.5em;
      left: 0.75em;
      font-size: 2.5em;
      color: $clr-accent;

      &_btn {
        display: block;
        background: none;
        border: none;
      }
    }

    &_list {
      display: none;
      line-height: 3em;
      text-align: center;
      width: 100%;
    }

    &_works {
      &_options {
        position: static;
        justify-content: center;
        align-items: flex-start;

        &_list {
          position: static;
        }

        &_link {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .link {
    padding: 1em;
  }

  .locales_list {
    right: 15%;
    top: 22px;
  }

  .mobile_nav_active {
    height: 110%;

    transition: 1s ease-in-out;
  }
  .mobile_list_active {
    display: flex;
    flex-direction: column;
  }
}
