.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 2em;

  background-color: $accent-blue-color;

  &_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

.link {
  text-decoration: none;
  font-size: 1.5em;
  color: white;

  &:hover {
    color: $main-text-color;
  }
}

.selected {
  color: $main-text-color;
}

.locales_list {
  list-style: none;
  display: flex;
  position: absolute;
  right: 3%;
}

#nav_locales_select {
  transform: scale(1.5);
  // border: 1px solid $accent-text-color;
  border: none;
  border-radius: 2em;
  padding: 0.2em 1em;
  margin-right: 2em;

  background-color: $main-text-color;
}
