.payment {
  &_content {
    padding: 2em;
    max-width: 50vw;
  }

  &_work {
    padding: 2em;
    border-bottom: 1px solid $accent-text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      display: flex;
      align-items: center;
    }

    &_number {
      font-size: 1.5em;
      margin-right: 1em;
    }
  }

  &_total-price {
    text-align: right;
    padding: 1em;
    font-size: 2em;
  }
}
