.searchbar {
  &_container {
    width: 20%;
    margin: 1.1em;
  }

  &_input {
    width: 100%;
    border-radius: 2em;
    padding: 0.5em 1em;
    border: none;
    background-color: $clr-secondary;

    &:focus {
      outline: none;
      border: 1.5px solid $clr-accent;
      margin: -1.5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .searchbar_container {
    right: 5em;
    top: -4.85em;
  }
  .searchbar_input {
    width: 50vw;
  }
}
