.pill_btn_accent {
  height: 2.5em;
  background-color: $clr-secondary;
  color: $clr-neutral-dark;
  cursor: pointer;
  border: none;
  padding: 0 1em;
  border-radius: 2em;

  transition: 200ms ease-in-out;

  &:hover {
    background-color: $clr-neutral-dark;
    color: $clr-accent;
  }
}

.pill_btn_inverted {
  height: 2.5em;
  background-color: $clr-neutral-light;
  color: $clr-neutral-dark;
  cursor: pointer;
  border: 2px solid $clr-neutral-dark;
  padding: 0 1em;
  border-radius: 2em;

  transition: 200ms ease-in-out;

  &:hover {
    background-color: $clr-neutral-dark;
    color: $clr-accent;
  }
}

.hidden {
  display: none;
}

.url {
  color: $clr-accent;
}
