.work_works {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.work_container {
  padding: 1em;
  margin: 1em;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  perspective: 600px;
}

.work {
  width: 20rem * $product-size;
  height: 20rem * $product-size;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  &_options {
    border-radius: 1em;
    display: none;
    width: 20rem * $product-size;
    height: 20rem * $product-size;
    background-color: $accent-text-color;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    animation: cardFlip 500ms ease-in-out forwards;

    &_leave-btn {
      float: right;
      margin: 1em 1em 0 0;
      align-self: flex-end;
    }
  }

  &_image_container {
    width: 100%;
    height: 60%;
    overflow: hidden;
  }

  &_image {
    max-width: 100%;
  }

  &_content_container {
    width: 100%;
    height: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_content_container > button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &_title {
    margin-bottom: 0.25em;
    font-size: 1rem;
  }
  &_composer {
    margin-bottom: 1.5em;
    font-size: 0.75em;

    span {
      font-size: 1.2em;
      color: $accent-text-color;
    }
  }

  &_description_short {
    font-size: 0.75em;
  }

  &_price {
    align-self: flex-end;
  }
}

.work_page {
  display: flex;
  overflow: auto;

  &_image {
    height: 80vh;
    max-width: 50%;
  }

  &_content {
    padding: 2em;
  }

  &_title {
    font-size: 5rem;
    margin-bottom: 0.35em;
  }
  &_composer {
    font-size: 3em;
    margin-bottom: 1.5em;

    span {
      font-size: 1.2em;
    }
  }

  &_addToCart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_dialog {
    width: 20%;
    height: 50%;

    display: none;
  }

  &_form {
    padding: 2em;
  }

  &_toCart-btn {
    margin-top: 2em;
    width: 10em;
  }
}

.locale_link {
  font-size: 2em;
}

.addToCart-btn {
  width: 50%;
  align-self: center;
  background-color: $accent-text-color;
  color: $main-text-color;
  border-radius: 2em;
  border: none;
  padding: 0.5em;

  cursor: pointer;

  &:hover {
    background-color: $main-text-color;
    color: $accent-text-color;
  }
}

.addToCart_dialog {
  margin: auto;
  width: 50em;

  &_form {
    text-align: left;
    line-height: 1.75em;
    padding: 3em;
    label {
      margin-left: 1em;
    }
    &_title {
      margin-bottom: 1em;
    }
  }

  &_text {
    padding: 3em;
    text-align: center;
    margin-top: 2em;

    h3 {
      font-size: 2em;
      margin-bottom: 1em;
    }
  }

  &_btn {
    margin-top: 1em;
  }
}

@keyframes cardFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.flipped {
  transform: rotateY(180deg);
}

.not_flipped {
  animation: cardFlip 500ms ease-in-out forwards;
}
