.works {
  margin: 0.5em 1.5em 2em 1.5em;

  height: fit-content;
}

.work_works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  justify-content: space-around;
  align-content: start;

  position: relative;

  &_container {
    margin-bottom: 2em;
  }
}

.work_card_container {
  margin: 1em;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  transition: transform 200ms ease-out;

  background-color: $clr-secondary;
  border-radius: 1em;

  &:hover {
    transform: scale(1.2);
    transition: transform 300ms ease-out;

    border: 1px solid $clr-accent;

    z-index: 90;

    .addToCart_btn {
      opacity: 1;
      pointer-events: all;

      transition: 300ms ease-in-out;
    }
  }

  &_image_container {
    width: 100%;
    height: 60%;
    overflow: hidden;
  }

  &_image {
    max-width: 100%;
    border-radius: 1em;
  }

  &_content_container {
    width: 100%;
    height: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_content_container > button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &_title {
    margin-bottom: 0.25em;
    font-size: 1.25rem;
    color: $clr-black;

    &_link {
      text-decoration: none;
    }
  }

  &_composer {
    font-size: 0.75em;

    span {
      font-size: 1.2em;
      color: $clr-neutral-dark;
    }

    &_link {
      text-decoration-color: $clr-neutral-dark;
    }
  }

  &_category {
    font-size: 0.75em;

    &_link {
      margin-top: 1.8em;
      padding: 0.2em 0;

      z-index: 1;
      color: $clr-neutral-dark-lighter;
      text-decoration-color: $clr-neutral-dark-lighter;
    }
  }

  &_price {
    align-self: flex-end;
  }

  &_price_btn_container {
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 1em;
  }

  &_alreadyInCart {
    border-radius: 1em;
    width: 100%;
    height: 100%;
    background-color: $clr-neutral-light;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  &_options {
    border-radius: 1em;
    display: none;
    width: 100%;
    height: 100%;
    background-color: $clr-neutral-light;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    position: relative;

    // &:hover {
    //   transform: scale(1.2);
    //   transition: transform 300ms ease-out;
    // }

    &_leave_btn {
      position: absolute;
      right: 1em;
      top: 1em;
    }

    &_price {
      float: right;
    }

    &_submit_btn {
      width: fit-content;
      min-width: 50%;
      position: absolute;
      bottom: 1em;
      right: 6em;
    }

    &_isCartInfo {
      border: 1px white solid;
      padding: 0.5em;
      border-radius: 2em;
    }

    &_specification {
      text-align: center;
    }
  }
}

.work_page {
  display: flex;
  overflow: auto;

  &_previewImage {
    max-width: 60%;
  }

  &_price {
    padding: 1em 1em 0 1em;
    font-size: 1.5em;
    text-align: right;
  }

  &_content {
    padding: 2em;

    &_container {
      margin-bottom: 2em;
    }
  }

  &_title {
    font-size: 5rem;
    margin-bottom: 0.35em;
  }
  &_composer {
    font-size: 3em;
    margin-bottom: 1.5em;

    &_link {
      font-size: 1.2em;
      color: $clr-accent;
    }
  }

  &_video {
    margin: 2em;
    width: 640px;
  }

  &_addToCart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_dialog {
    width: 20%;
    height: 50%;

    display: none;
  }

  &_form {
    padding: 2em;
  }

  &_toCart_btn {
    margin-top: 2em;
    width: 10em;
  }

  &_isCartInfo {
    border: 1px solid $clr-neutral-light;
    padding: 0.5em;
    border-radius: 2em;
  }
}

.youtube {
  &_container {
    padding: 2em;
  }
}

.locale_link {
  font-size: 2em;
}

.addToCart_btn {
  opacity: 0;
  pointer-events: none;

  transition: 150ms ease-in-out;

  width: fit-content;
  min-width: 50%;
  align-self: center;
  background-color: transparent;
  color: $clr-neutral-dark;
  border-radius: 2em;
  border: 1px solid $clr-neutral-dark;
  padding: 0.5em;

  cursor: pointer;

  &:hover {
    background-color: $clr-neutral-light;
    color: $clr-accent;
    border-color: $clr-accent;
  }
}

.addToCart_work_btn {
  background-color: transparent;
  color: $clr-neutral-dark;
  border: 1px solid $clr-neutral-dark;
  padding: 0.75em 1em;
  border-radius: 2em;
  font-size: 1.2em;

  cursor: pointer;

  transition: 150ms ease-in-out;

  &:hover {
    background-color: $clr-neutral-light;
    color: white;
  }
}

.addToCart_dialog {
  margin: auto;
  width: 50em;

  &_form {
    text-align: left;
    line-height: 1.75em;
    padding: 2em;
    width: 80%;
    height: 80%;

    label {
      margin-left: 1em;
    }
    &_title {
      margin-bottom: 1em;
    }
  }

  &_text {
    padding: 3em;
    text-align: center;
    margin-top: 2em;

    h3 {
      font-size: 2em;
      margin-bottom: 1em;
    }
  }

  &_btn {
    margin-top: 1em;
  }
}

.work_expand_animation {
  width: 20rem;
  height: 20rem;
  border-radius: 1em;
  animation: expand 500ms cubic-bezier(0.21, 0.39, 0, 1.14) none;
  background-color: $clr-neutral-light;
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .work_works {
    height: 100%;
    justify-content: space-between;
  }

  .work:hover {
    transform: none;
    transition: none;
    border: none;
  }

  .addToCart_btn {
    opacity: 1;
  }

  .work_page {
    flex-direction: column;

    &_title {
      font-size: 3em;
    }
    &_composer {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    &_video {
      transform: scale(0.5);
      transform-origin: top left;
      margin: 1em;
    }

    &_previewImage {
      max-width: 100%;
    }
  }

  .youtube {
    width: 100%;

    &_container {
      display: flex;
      justify-content: center;
      padding: 0;
      max-width: 100vw;
      margin: 2em 0em 1em 0em;
    }
  }
}
